apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "deckard.fullname" . }}
  labels:
    {{- include "deckard.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "deckard.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "deckard.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if .Values.env }}
            {{- range $name, $item := .Values.env }}
            - name: {{ $name }}
              {{- $item | toYaml | nindent 14 }}
            {{- end }}
            {{- end }}
            - name: DECKARD_CACHE_TYPE
              value: {{ .Values.cache.type }}
            - name: DECKARD_STORAGE_TYPE
              value: {{ .Values.storage.type }}
            - name: DECKARD_HOUSEKEEPER_ENABLED
              value: {{ quote .Values.housekeeper.self.enabled }}
            - name: DECKARD_AUDIT_ENABLED
              value: {{ quote .Values.audit.enabled }}
            {{- if eq .Values.storage.type "MONGODB" }}
            {{- if and (.Values.mongodb.enabled) (eq .Values.mongodb.architecture "standalone") }}
            # TODO: improve storage URI handling without hardcoded port and other architectures
            - name: DECKARD_STORAGE_URI
              value: mongodb://{{ .Values.mongodb.auth.rootUser }}:{{ .Values.mongodb.auth.rootPassword }}@{{ include "deckard.fullname" . }}-mongodb.{{ .Release.Namespace }}.svc:27017/admin?ssl=false
            {{- else }}
            - name: DECKARD_STORAGE_URI
              value: {{ .Values.storage.uri }}
            {{- end }}
            {{- end }}
            {{- if eq .Values.cache.type "REDIS" }}
            {{- if and (.Values.redis.enabled) (eq .Values.redis.architecture "standalone") }}
            # TODO: improve cache URI handling without hardcoded port and other architectures
            - name: DECKARD_CACHE_URI
              value: redis://:{{ .Values.redis.auth.password }}@{{ include "deckard.fullname" . }}-redis-master.{{ .Release.Namespace }}.svc:6379/{{ .Values.cache.redis.database }}
            {{- else }}
            - name: DECKARD_CACHE_URI
              value: {{ .Values.cache.uri }}
            {{- end }}
            {{- end }}
          ports:
            - name: grpc
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            grpc:
              port: {{ .Values.service.port }}
          readinessProbe:
            grpc:
              port: {{ .Values.service.port }}
          startupProbe:
            grpc:
              port: {{ .Values.service.port }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
