annotations:
  category: Queue
  licenses: MIT
  artifacthub.io/images: |
    - name: deckard
      image: blipai/deckard:latest
      platforms:
        - linux/amd64
  artifacthub.io/category: streaming-messaging
  artifacthub.io/license: MIT
  artifacthub.io/links: |
    - name: helm chart
      url: https://github.com/takenet/deckard/tree/main/helm
    - name: source code
      url: https://github.com/takenet/deckard
    - name: Blip company
      url: https://www.blip.ai/
  artifacthub.io/maintainers: |
    - name: Lucas Soares
      email: lucas.soares@blip.ai

apiVersion: v2
name: deckard
description: A Helm chart for Deckard, a Highly Scalable Cyclic Priority Queue
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
# In deckard's main branch it will be always the latest release version
version: 0.0.42

# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
# In deckard's main branch it will be always the latest release version
appVersion: "0.0.42"

keywords:
  - deckard
  - queue
  - messaging
  - priority

home: https://www.blip.ai/

maintainers:
  - name: Blip
    url: https://github.com/takenet
  - name: lucasoares
    url: https://github.com/lucasoares

dependencies:
  - name: mongodb
    version: 13.15.3
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
  - name: redis
    version: 17.11.6
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled

sources:
  - https://github.com/takenet/deckard/tree/main/helm
