name: Release

on:
  create:
    tags:
      - 'v*'

env:
  KO_DOCKER_REPO: index.docker.io/blipai
  GO_VERSION: 1.18

jobs:
  release-deckard-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Setup Ko
        uses: ko-build/setup-ko@v0.6

      - name: Checkout code
        uses: actions/checkout@master

      - name: Publish image
        env:
          auth_token: ${{ secrets.DOCKER_HUB_TOKEN }}
        run: |
          echo "${auth_token}" | ko login index.docker.io --username lucasoares3 --password-stdin
          make build-image