name: Release

on:
  release:
    types: [created]

env:
  KO_DOCKER_REPO: index.docker.io/blipai
  GO_VERSION: 1.18

jobs:
  release-deckard-executable:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-

      - name: Build Linux AMD64
        env:
          GOOS: linux
          GOARCH: amd64
        run: go build -o exec/deckard-linux-amd64 internal/cmd/deckard/main.go

      - name: Build Windows AMD64
        env:
          GOOS: windows
          GOARCH: amd64
        run: go build -o exec/deckard-windows-amd64.exe internal/cmd/deckard/main.go

      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
          files: |
            exec/deckard-windows-amd64.exe 
            exec/deckard-linux-amd64

  release-deckard-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-golang-

      - name: Setup Ko
        uses: ko-build/setup-ko@v0.6

      - uses: actions/checkout@v3

      - name: Publish image
        env:
          auth_token: ${{ secrets.DOCKER_HUB_TOKEN }}
        run: |
          echo "${auth_token}" | ko login index.docker.io --username lucasoares3 --password-stdin
          make build-image

  release-java-package:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Publish package
        working-directory: java
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}