name: Test

on: [pull_request]

env:
  GO_VERSION: 1.18

permissions:
  checks: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:6.0
        ports:
        - 27017:27017

      redis:
        image: redis:7.0
        ports:
        - 6379:6379

    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ env.GO_VERSION }}

    - uses: actions/checkout@v3

    - name: Cache Go modules
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-golang-

    - name: Install mockgen
      run: go install github.com/golang/mock/mockgen@latest

    - name: Generate Mocks
      run: make gen-mocks

    - name: Generate TLS certificates
      run: make gen-cert

    - name: Go mod tidy
      run: go mod tidy

    - name: Make test
      run: make test

    - name: Publish test results
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: gotest.out
        path: gotest.out

    - name: Install go-junit-report
      run: go install github.com/jstemmer/go-junit-report@latest
      if: always()

    - name: Generate JUnit report
      run: cat gotest.out | go-junit-report -set-exit-code > junit.xml
      if: always()

    - name: Publish JUnit report
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: junit.xml
        path: junit.xml

    - name: JUnit report action
      uses: mikepenz/action-junit-report@v3
      if: always()
      with:
        report_paths: junit.xml

    - name: Coverage Report
      uses: codecov/codecov-action@v3
      if: always()
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: coverage.out
        verbose: true